<article class="card card--solution muted"
  style="background-image:url(<%= img %>);background-size: 320px 170px;">
  <div class="card__content" style="height: 170px"></div>
  <div class="card__footer">
    <div class="card__support" style="display: block;text-align: center">
      <a class="card__button button--sc light button small secondary" href="/solutions?filter[search_text]=<%= search_text %>" style="margin: 5px 0;">
        <%= t('.button') %>
      </a>
    </div>
  </div>
</article>
