.home-section{
  .home-bullet{
    .home-bullet__icon{
      img{ width: 30px; }
    }
  }
}
.card--solution{
  .card__content{
    .card__title{ color: #599aa6; }
    .author__name{ color: #599aa6; padding-bottom: 10px; }
    .solution-desc{ clear: both; margin-top: 10px; text-align: justify; }
    .solution-youtube{ margin-top: 10px; }
    .solution-github{
      float: left;
      margin-bottom: 10px;
      img{ width: 32px; height: 32px; }
    }
    .link-apps__cards{
      float: right;
      margin-bottom: 10px;
      img{ width: 32px; height: 32px; }
    }
    .solution-ods-card{
      clear: both;
      text-align: center;
    }
  }
}
.ods-image-form { width: 64px; margin-bottom: 2px; cursor: pointer;}
.ods-image-filter { width: 76px; margin-bottom: 2px; cursor: pointer;}
.solution-space-form {clear: both; display: block; margin: 10px; }
.ods-image-list { width: 64px; text-align: left;}
.proposals-by-solution-text { color: #aaa; margin-bottom: 10px; }
#solutions {
  .form-error { margin-top: 0rem !important; }
  .card {
    .button { float: right; margin-bottom: 15px; margin-left: 10px; }
  }
}

/**
  * New Solution form
  */
form.form div.mandatory label:before{
  content: "*";
}

/**
  * Countdown
  */
.countdown {
  /*margin: 0 32%;*/
  margin-top: -4rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  color:var(--primary);
  max-width: 400px;
}
.countdown #watch {
  font-family: monospace;
  font-weight: bold;
  /*border: 5px;
  border-style: solid;
  border-radius: 10px;*/
  border: 2.5px solid #e8e8e8;
  display:none;
}
