.home-section{
  .home-bullet{
    .home-bullet__icon{
      img{ width: 30px; }
    }
  }
}
.card--solution{
  .card__content{
    .card__title{ color: #599aa6; }
    .author__name{ color: #599aa6; padding-bottom: 10px; }
    .solution-desc{ clear: both; margin-top: 10px; text-align: justify; }
    .solution-youtube{ margin-top: 10px; }
    .solution-github{
      float: left;
      margin-bottom: 10px;
      img{ width: 20px; height: 20px; }
    }
    .link-apps__cards{ float: right; text-align: right; margin-bottom: 10px; }
    .solution-ods-card{
      clear: both;
      text-align: center;
    }
  }
}
.ods-image-form { width: 64px; margin-bottom: 2px; }
.solution-space-form {clear: both; display: block; margin: 10px; }
.ods-image-list { width: 64px; text-align: left;}
#solutions {
  .form-error { margin-top: 0rem !important; }
}
